.grid-container {
  margin-top: 20px; /* 上部に20pxの余白 */
  height:85vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列のグリッド */
  grid-template-rows: repeat(2, 1fr); /* 2行のグリッド */
  gap: 20px; /* 要素間の間隔 */
  flex:1;
  margin-left: 20px;  /* 左端に20pxのスペース */
  margin-right: 20px; /* 右端に20pxのスペース */
  /* width: 80%; */
}


.grid-item {
  /* padding: 20px; */
  /* background-color: rgba(89, 85, 85, 0.94); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影の追加 */
}

  